:root {
    --white-corlor: #fff;
    --black-corlor: #000;
    --text-corlor: #333;
}

*{
    box-sizing: inherit;
}

@font-face {
    font-family: "Comic Sans VN";
    src: url(../font/comicSans/COMIC.TTF) format("truetype");
}

html {
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Comic Sans VN";
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}