p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

#header {
    height: 120px;
    background-color: var(--white-corlor);
}

.navbar {
    display: flex;
    margin-top: 12px;
}

.navbar__left-logo {
    flex-basis: 230px;
    margin-top: 12px;
}

.navbar__mid {
    flex-basis: 700px;
}

.navbar__mid-list,
.menu__category-list,
.menu__category-list-sub {
    padding-left: 0;
    margin-top: 0;
}

.navbar__mid-item,
.navbar__mid-item-link {
    display: inline-block;
    color: var(--black-corlor);
    opacity: 0.75;
    text-decoration: none;
}

.navbar__mid-item-link>div {
    display: flex;
    height: 33px;
}

.navbar__mid-item-link i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding-top: 5px;
}

.navbar__mid-item-link h6 {
    font-size: 1.8rem;
    font-weight: 500;
}

.navbar__mid-item-link p {
    font-size: 1.6rem;
}

.navbar__mid-item-link {
    margin-right: 45px;
}

.navbar__right {
    display: flex;
    flex-basis: 270px;
    flex-direction: column;
}

.navbar__right-top,
.navbar__right-down {
    display: flex;
    justify-content: center;
    margin: 8px 0 8px 32px;
}

.navbar__right-link {
    text-decoration: none;
    font-size: 2rem;
    color: var(--black-corlor);
}

.navbar__right-link:hover {
    color: var(--base-corlor);
}

.navbar__right-link i {
    font-size: 33px;
}

.navbar__right-down {
    margin-top: 32px;
    margin-right: 32px;
}

.navbar__right-top .navbar__right-link:first-child,
.navbar__right-down .navbar__right-link:first-child {
    margin-right: 32px;
}

.navbar__mid-menu {
    margin-top: 24px;
    display: flex;
    height: 40px;
}

.menu__category,
.menu__search {
    position: relative;
}

.menu__category {
    margin-right: 8px;
    z-index: 99999999999;
}

.menu__category i:first-child {
    font-size: 24px;
    border: 1px solid #E8E9E9;
    color: #808285;
    padding: 6px 0 7px 10px;
    width: 40px;
}

/* Menu cấp */
.menu__category-list,
.menu__category-list-sub {
    display: none;
    list-style: none;
    position: absolute;
    width: 250px;
    background-color: var(--white-corlor);
    border-radius: 5px;
    /* Có lỗi, nhưng chưa nghĩ ra cách fix :)) */
}

.menu__category:hover .menu__category-list {
    display: block;
}

.menu__category-item:hover .menu__category-list-sub {
    display: block;
}

.menu__category-item:hover {
    border-right: none;
}

.menu__category-item:hover>a {
    opacity: 0.7;
}

.menu__category-item-sub>a:hover {
    opacity: 0.7;
}

.menu__category-list {
    top: 40px;
    right: 0;
    margin-top: 8px;
    box-shadow: 0 4px 24px 0 rgb(0 0 0 / 36%);
    transform-origin: 95% top;
    animation: zoomInOut ease-in 0.2s;
}

.menu__category-item,
.menu__category-item-sub {
    border: 1px solid #e8e9e9;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu__category-item-sub {
    border: none;
}

.menu__category-list-sub {
    border: 1px solid #e8e9e9;
    left: 100%;
    top: 0%;
    bottom: 0;
    border-left: none;
    box-shadow: 8px 0px 12px -8px rgb(0 0 0 / 36%);
}

.menu__category-item a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black-corlor);
    opacity: 0.9;
}

.menu__category-list li:first-child,
.menu__category-list-sub li:first-child {
    border: 1px solid #e8e9e9;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 12px 0;
    line-height: 2rem;
    border-top: none;
}

.menu__category-list li:first-child,
.menu__category-list li:last-child {
    border-left: none;
}

.menu__category-list li:last-child {
    border-bottom: none;
}

.menu__category-list-sub li:first-child {
    border-right: none;
}

.menu__category-list::after {
    right: 13px;
    border-color: var(--white-corlor);
    border-width: 10px 6px;
    border-left-color: transparent;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    top: -19px;
    box-sizing: border-box;
}

.menu__category-list::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 40px;
    top: -40px;
    right: 0;
}

/* Thanh seach */
.menu__search {
    border: 1px solid var(--base-corlor);
    width: 100%;
    display: flex;
    border-radius: 4px;
}

.menu__search-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.6rem;
    border-radius: 4px;
    padding: 0 16px;
}

.menu__search-icon {
    padding: 6px 16px;
    background-color: var(--base-corlor);
    color: var(--white-corlor);
    margin: 1px;
    border-radius: 3px;
    font-size: 2.4rem;
    cursor: pointer;
}

.menu__search-icon:hover {
    background-color: #d85027;
}