p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
}

#page {
    background-color: #eee;
}

#header {
    height: 120px;
    background-color: var(--white-color);
}

.navbar {
    display: flex;
    margin-top: 12px;
}

.navbar__left-logo {
    flex-basis: 230px;
    margin-top: 12px;
}

.navbar__left-logo-img {
    width: 162px;
}

.navbar__mid {
    flex-basis: 700px;
}

.navbar__mid-list,
.menu__category-list,
.menu__category-list-sub {
    padding-left: 0;
    margin-top: 0;
}

.navbar__mid-item,
.navbar__mid-item-link {
    display: inline-block;
    color: #666;
    text-decoration: none;
}

.navbar__mid-item-link>div {
    display: flex;
    height: 33px;
}

.navbar__mid-item-link i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding-top: 5px;
}

.navbar__mid-item-link h6 {
    font-size: 1.8rem;
    font-weight: 500;
}

.navbar__mid-item-link p {
    font-size: 1.6rem;
}

.navbar__mid-item-link {
    margin-right: 45px;
}

.navbar__right {
    display: flex;
    flex-basis: 270px;
    flex-direction: column;
}

.navbar__right-top,
.navbar__right-down {
    display: flex;
    justify-content: center;
    margin: 8px 0 8px 32px;
}

.navbar__right-link {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    color: var(--black-color);
}

.navbar__right-link:hover {
    color: var(--base-color);
}

.navbar__right-link i {
    font-size: 33px;
}

.navbar__right-down {
    margin-top: 32px;
    margin-right: 32px;
}

.navbar__right-top .navbar__right-link:first-child,
.navbar__right-down .navbar__right-link:first-child {
    margin-right: 32px;
}

.navbar__right-link-number {
    position: absolute;
    top: -7px;
    right: -20px;
    color: var(--white-color);
    background-color: var(--base-color);
    border-radius: 10px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    width: 35px;
}

.navbar__mid-menu {
    margin-top: 24px;
    display: flex;
    height: 40px;
}

.menu__category,
.menu__search {
    position: relative;
}

.menu__category {
    margin-right: 8px;
    z-index: 99999999999;
}

.menu__category i:first-child {
    font-size: 24px;
    border: 1px solid #E8E9E9;
    color: #808285;
    padding: 6px 0 7px 10px;
    width: 40px;
}

/* Menu cấp */
.menu__category-list,
.menu__category-list-sub {
    display: none;
    list-style: none;
    position: absolute;
    width: 250px;
    background-color: var(--white-color);
    border-radius: 5px;
    /* Có lỗi, nhưng chưa nghĩ ra cách fix :)) */
}

.menu__category:hover .menu__category-list {
    display: block;
}

.menu__category-item:hover .menu__category-list-sub {
    display: block;
}

.menu__category-item:hover {
    border-right: none;
}

.menu__category-item:hover>a {
    opacity: 0.7;
}

.menu__category-item-sub>a:hover {
    opacity: 0.7;
}

.menu__category-list {
    top: 40px;
    right: 0;
    margin-top: 8px;
    box-shadow: 0 4px 24px 0 rgb(0 0 0 / 36%);
    transform-origin: 95% top;
    animation: zoomInOut ease-in 0.2s;
}

.menu__category-item,
.menu__category-item-sub {
    border: 1px solid #e8e9e9;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu__category-item-sub {
    border: none;
}

.menu__category-list-sub {
    border: 1px solid #e8e9e9;
    left: 100%;
    top: 0%;
    bottom: 0;
    border-left: none;
    box-shadow: 8px 0px 12px -8px rgb(0 0 0 / 36%);
}

.menu__category-item a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black-color);
    opacity: 0.9;
}

.menu__category-list li:first-child,
.menu__category-list-sub li:first-child {
    border: 1px solid #e8e9e9;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 12px 0;
    line-height: 2rem;
    border-top: none;
}

.menu__category-list li:first-child,
.menu__category-list li:last-child {
    border-left: none;
}

.menu__category-list li:last-child {
    border-bottom: none;
}

.menu__category-list-sub li:first-child {
    border-right: none;
}

.menu__category-list::after {
    right: 13px;
    border-color: var(--white-color);
    border-width: 10px 6px;
    border-left-color: transparent;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    top: -19px;
    box-sizing: border-box;
}

.menu__category-list::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 40px;
    top: -40px;
    right: 0;
}

/* Thanh seach */
.menu__search {
    border: 1px solid var(--base-color);
    width: 100%;
    display: flex;
    border-radius: 4px;
}

.menu__search-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.6rem;
    border-radius: 4px;
    padding: 0 16px;
}

.menu__search-icon {
    padding: 6px 16px;
    background-color: var(--base-color);
    color: var(--white-color);
    margin: 1px;
    border-radius: 3px;
    font-size: 2.4rem;
    cursor: pointer;
}

.menu__search-icon:hover {
    background-color: #d85027;
}

/* header__fix */
#header.header__fix {
    position: fixed;
    top: -6%;
    width: 100%;
    z-index: 1;
    height: 60px;
    transform: translateY(96%);
    box-shadow: 0 0 17px 1px rgb(0 0 0 / 10%);
    transition: transform ease-in-out 0.3s;
    will-change: transform;
}

#header.header__fix .navbar__mid-list,
#header.header__fix .navbar__right-top-dealHot,
#header.header__fix .navbar__right-down-searchOrd {
    display: none;
}

#header.header__fix .navbar__left-logo {
    margin-top: 0;
    text-align: center;
}

#header.header__fix .navbar__left-logo-img {
    width: inherit;
    height: 39px;
}

#header.header__fix .navbar__right {
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

#header.header__fix .navbar__right-down {
    margin-top: 0;
}

#header.header__fix .navbar__mid-menu {
    margin-top: 0;
}

/* Main */
.main__content {
    margin-top: 10px;
}

/* Sidebar-main*/
.sidebar {
    background-color: var(--white-color);
    border-radius: 3px;
    margin-bottom: 24px;
}

.sidebar__header {
    padding: 16px;
    position: relative;
    border-bottom: 1px solid #eee;
}

.sidebar__header-name {
    font-size: 1.8rem;
}

.sidebar__header-interaction {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    padding: 8px;
    cursor: pointer;
}

.sidebar__category:last-child {
    padding-bottom: 16px;
}


.sidebar__category-header-link {
    font-size: 1.9rem;
    padding: 8px 40px;
}

.sidebar__category-list {
    list-style: none;
}

.sidebar__category-link {
    font-size: 1.8rem;
    padding-left: 60px;
    padding-bottom: 4px;
}

.sidebar__category-header-link,
.sidebar__category-link {
    position: relative;
    color: var(--text-color);
    display: block;
    text-decoration: none;
}

.sidebar__category-header-link:hover,
.sidebar__category-link:hover {
    color: var(--base-color);
}

.sidebar__category-header-link::before,
.sidebar__category-link::before {
    position: absolute;
    content: " ";
    top: 50%;
    transform: translateY(-50%);
    content: " ";
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 2px;
    pointer-events: none;
}

.sidebar__category-header-link::before {
    left: 16px;
}

.sidebar__category-link::before {
    left: 36px;
}

.action {
    color: var(--base-color);
}

.action::after {
    width: 6px;
    height: 3px;
    position: absolute;
    top: 43%;
    content: " ";
    border-left: 2px solid #ff6600;
    border-bottom: 2px solid #ff6600;
    transform: rotate(-45deg) translateY(-50%);
}

.sidebar__category-header .action::after {
    left: 21px;
}

.sidebar__category-item .action::after {
    left: 41px;
}

.sidebar__header-interaction--plus {
    display: none;
}

.sidebar__header-interaction--minus {}

.css-sidebar2 {
    padding-top: 16px;
    margin-left: -16px;
}

/* container-main */
.main__container {
    margin-left: 32px;
}

.main__container--wrap {
    background-color: var(--white-color);
    border-radius: 3px;
}

.main__container-header {
    font-size: 3rem;
    padding: 16px;
}

.main__container-head {
    border-bottom: 1px solid #eee;
}

.main__container-head-list {
    list-style: none;
    font-size: 2rem;
}

.main__container-head-item {
    display: inline-block;
    margin: 8px 24px;
}

.main__container-head-sub {}

.main__container-head-link {
    text-decoration: none;
    color: var(--text-color);
}

.main__container-head-link:hover {
    color: var(--base-color);
}

/* Main_pageNumber */
.main__container-pageNumber {
    padding: 16px;
}

.main__pageNumber-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.main__pageNumber-item {
    box-shadow: 0 0 3px 1px rgb(0 0 0 / 17%);
    border-radius: 4px;
    border: 1px solid transparent;
    margin-left: 12px;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.main__pageNumber-link {
    text-decoration: none;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.main__pageNumber-item:hover {
    border-color: var(--base-color);
    background-color: var(--white-color);
}

.main__pageNumber-item:hover .main__pageNumber-link {
    background-color: var(--white-color);
    color: var(--base-color);
}

.main__pageNumber-item--current,
.main__pageNumber-link--current {
    background-color: var(--base-color);
    color: var(--white-color);
}

/* products */
.main__products {
    padding: 16px;
}

.main__product-link {
    position: relative;
    text-decoration: none;
    display: block;
}

.main__product-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main__product-img-label {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 1.8rem;
    padding: 8px 20px;
    opacity: 0;
}

.main__product-link:first-child:hover .main__product-img-label {
    animation: downWard linear 0.2s forwards;
}

.main__product-name {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
}

.main__product-name:hover {
    color: var(--base-color);
}

.main__product-pride {
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.main__product-pride span {
    margin-right: 8px;
}

.main__product-pride--current {
    font-size: 1.8rem;
    font-weight: 600;
}

.main__product-pride--old {
    text-decoration: line-through;
    color: #666;
}

.main__product-pride--saleoff {
    color: var(--base-color);
    background-color: #fcdfd7;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1px 4px;
}

.main__product-review {
    display: flex;
    margin-bottom: 4px;
}

.main__product-rateList {
    list-style: none;
}

.main__product-rateItem {
    display: inline-block;
    font-size: 1.3rem;
    color: #D8D8D8;
}

.main__product-numberCmt {
    font-size: 1.6rem;
    margin-left: 12px;
}

.main__product-active {
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.main__product-like,
.main__product-cart {
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.main__product-like {
    border-color: #666;
}

.main__product-cart {
    border-color: var(--base-color);
}

.main__product-cart i {
    color: var(--base-color);
}

/* Footer */
#footer {
    background-color: #fff;
    border-top: 4px solid var(--base-color);
    padding: 38px 15px 30px 15px;
    margin-top: 20px;
}

.footer__content {
    font-size: 2.2rem;
    line-height: 2rem;
    margin-bottom: 12px;
}

.footer__content-heading {
    margin-bottom: 15px;
}

.footer__content-list {
    list-style: none;
}

.footer__content-link {
    text-decoration: none;
    color: #999;
    font-size: 1.7rem;
}

.hotline {
    color: var(--base-color);
    font-weight: 700;
}

.footer__content-form {
    margin-bottom: 30px;
}

.footer__content-form,
.footer__content-morei4 {
    justify-content: space-between;
    width: 100%;
}

.footer__content-input {
    flex: 1;
    font-size: 1.7rem;
    height: 40px;
    padding: 0 12px;
    color: var(--text-color);
    outline: none;
    border: 1px solid #999;
    border-radius: 2px;
    margin-right: 20px;
}

.footer__content-btn {
    width: 85px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    font-size: 2rem;
}

.footer__content-btn:hover {
    opacity: 0.9;
}

.footer__text {
    border-top: 1px solid #999;
    padding-top: 30px;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #666;
}

.return-to-top {
    width: 50px;
    height: 50px;
    display: inline;
}

.return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: #df181c;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    cursor: pointer;
}